<ion-content>
  <body>
      <form id = "login-form">
          <img src = "assets/icon/arthibit w text-02.png" class="logo">
          <h1 class="title">Sign Up</h1>
          <p>Create an account</p>

          <ion-card class="ion-no-margin">
              <ion-card-content>
                  <ion-item>
                      <ion-input type="text" name="Name" placeholder="Full Name">
                     <ion-icon name="person-outline"></ion-icon>
                     </ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-input type="text" name="email" placeholder="Email">
                   <ion-icon name="mail-outline"></ion-icon>
                   </ion-input>
                </ion-item>
      
                  <ion-item>
                      <ion-input type="password" name="password" placeholder="Password" >
                      <ion-icon name="lock-closed"></ion-icon>
                      </ion-input>
                  </ion-item>
      
                   <div class="sign-btn-wrap">
                      <ion-button  shape="round" fill="solid" class="sign-btn">Register Now</ion-button>
                     </div>
              </ion-card-content>
          </ion-card>           
      </form>
      
      <div class="ion-card-footer">
          <span>Already have an account?</span><button class="ion-no-padding" routerLink="/login">Login</button>
      </div>
  </body>
</ion-content>

